.logout-button {
    background-color: rgb(226, 226, 200);
    color: black !important; /* Text color */
    border: none;
    border-radius: 20px; /* Adjust the border-radius value to control the curvature */
    padding: 8px 16px; /* Adjust padding as needed */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.logout-button:hover {
    background-color: #ffc107; /* Change background color on hover */
}
